@media only screen and (max-width: 1200px) {
 	.ask-item-web-card, .ask-item-bonus-card, .ask-item-news-card, .ask-item-complain-card{
		width:196px;
		height:276px;
		float:left !important;
		background-color: #FFFFFF;
		padding: 0px;
		position: absolute;
	    -webkit-transition: -webkit-transform 1s;
	    -moz-transition: -moz-transform 1s;
	    -o-transition: -o-transform 1s;
	    transition: transform 1s;
	    -webkit-transform-style: preserve-3d;
	    -moz-transform-style: preserve-3d;
	    -o-transform-style: preserve-3d;
	    transform-style: preserve-3d;
	    -webkit-transform-origin: 50% 50%;
	}
	.ask-home-card > .col-md-3:nth-child(n+4){
		display: none;
	}
	.ask-home-card > .col-md-3:nth-child(n+2){
		margin-left: 39px !important;
	}
	.ask-home-card > .col-md-3:first-child{
		margin-left: 5% !important;
	}
	.fixed-top{
		width:80%;
	}
	.ask-detail-page-card > .col-md-3:nth-child(n+3){
		display: none !important;
	}
	.ask-detail-page-card > .col-md-3{
		margin-left:15%;
	}
}
@media only screen and (max-width: 768px) {
	.fixed-top{
		width:90%;
	}
	.slider img{
		height:150px !important;
	}
	.sticky_column{
		padding-left: 15px !important;
	}
	.custom-play-now{
		padding-top: 0px;
		margin-top: 19px;
	}
}
@media only screen and (max-width: 720px) {
	.ask-home-card > .col-md-3:nth-child(n+2){
		margin-left: 45px !important;
	}
}
@media only screen and (max-width: 690px) {
	.ask-home-card > .col-md-3:nth-child(n+3){
		display: none;
	}
	.ask-home-card > .col-md-3:nth-child(n+2){
		margin-left: 100px !important;
	}
	.ask-home-card > .col-md-3:first-child{
		margin-left: 50px !important;
	}
	.ask-detail-page-card > .col-md-3:nth-child(n+1){
		margin-left:10%;
	}
	.ask-detail-page-card > .col-md-3:nth-child(n+2){
		margin-left:20%;
	}
	.custom-play-now{
		padding-top: 0px;
		margin-top: 19px;
	}
}
@media only screen and (max-width: 590px) {
	.ask-home-card > .col-md-3:nth-child(n+2){
		margin-left: 100px !important;
	}
	.ask-home-card > .col-md-3:first-child{
		margin-left: 20px !important;
	}
	.ask-detail-page-card > .col-md-3:nth-child(n+1){
		margin-left:30%;
	}
	.ask-detail-page-card > .col-md-3:nth-child(n+2){
		display:none;
	}
	.custom-play-now.{
		padding-top:0px !important;
		margin-top: 19px; 
	}
		

}
@media only screen and (max-width: 490px) {
	.ask-home-card > .col-md-3:nth-child(n+2){
		display: none;
	}
	.ask-home-card > .col-md-3:first-child{
		margin-left: 15% !important;
	}
	.ask-detail-page-card > .col-md-3:nth-child(n+1){
		margin-left:10%;
	}
	.cmntRate{
		float: left !important;
		line-height: 55px;
	}
}

/*landing page*/
@media only screen and (max-width: 1200px) {
	.ask-land-web-card{
		margin-top:30px;
		margin-left: 5%;
	}
}
@media only screen and (max-width: 720px) {
	.ask-land-web-card{
		margin-top:30px;
		margin-left: 15%;
	}
}
@media only screen and (max-width: 650px) {
	.ask-land-web-card{
		margin-top:30px;
		margin-left: 27% !important;
		clear: both;
	}
	.userIconsDisplay{display:none;}
}
@media only screen and (max-width: 450px) {
	.ask-land-web-card{
		margin-top:30px;
		margin-left: 15% !important;
		clear: both;
	}
}
@media only screen and (max-width: 350px) {
	.ask-land-web-card{
		margin-top:30px;
		margin-left: 10% !important;
		clear: both;
	}
}
@media only screen and (max-width: 575px) {
	.ask-land-web-card:nth-child(even){
		margin-top:30px;
		margin-left: 20%;
	}
	.ask-land-web-card:nth-child(odd){
		margin-top:30px;
		margin-left: 5%;
	}
	.details-page{
		width:100%;
		margin:40px auto;
		position:relative;
		margin-left:15%;
	}
	.image-label{
		display:none;
	}
}

@media only screen and (min-width: 1200px) {
	/*.custom-play-now{
		padding-top: 16px; 
	}*/
		
}

@media only screen and (max-width: 1600px) {
	.newsDetail-image{
		height:350px;
		width:100%;
	}	
}
@media only screen and (max-width: 900px) {
	.newsDetail-image{
		height:auto;
		width:100%;
	}	
}
@media only screen and (max-width: 990px) {
	.ask-desktop-table{
		display:none;
	}
	.ask-mobile-table{
		display:block;
	}
	.details-page-joinCode{
		width: auto;
		margin-top: 35px !important;
		text-align: center;
		text-transform: uppercase;
		padding-left: 20px;
	}
	.details-page-logo{
		width:auto;
		margin-left:25px;
	}
}
@media only screen and (min-width: 990px) {
	.ask-mobile-table{
		display:none;
	}
}
@media only screen and (max-width: 982px) and (min-width: 450px) {
	.custom-show{
		display: none;
	}
}
.ask-land-web-card > .ask-cards > .ask-item-web-card,
	 .ask-land-web-card > .ask-cards > .ask-item-bonus-card,
	  .ask-land-web-card > .ask-cards > .ask-item-news-card,
	   .ask-land-web-card > .ask-cards > .ask-item-complain-card{
		width:221px;
		height:291px;
}


.custom-menu-icon{
	border: 1px solid #fff !important;
	border-radius: 0px !important;
	background-color: transparent !important;
}
.custom-menu-icon:hover{
	border: 1px solid #21272D !important;
	border-radius: 0px !important;
	background-color: transparent !important;
}
.ask-nav-two-resp{
	position: relative !important;
}
.resp-search-form{
	width:100%;
	height: 100%;
	background: rgba(22, 91, 166, 1) none repeat scroll 0 0;
	position: absolute;
	top: 0;
	left: 0;
}
.resp-search-form form{
	padding-top: 17px !important;
	padding-left: 10px;
}
.resp-search-form input{
	background: transparent !important;
	color:#fff;
	border-radius: 0px !important;
	border:0px !important;
	border-bottom:2px solid #fff !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.resp-search-form input:focus{
	border:0px !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-bottom:2px solid #fff !important;
}
.btn-transparent{
	background-color: transparent !important;
	color : #fff !important;
	font-size: 15px
}
.sticky_column{
	padding-left: 0px;
}
.custom-play-now{
	padding-top: 0px;
	margin-top: 19px;
}
